{{define "checkout-page"}}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{{.Title}}</title>
    {{template "page-imports"}}
    <link rel="stylesheet" href="/assets/stylesheets/checkout.css">
    <link rel="import" href="/assets/km-ajax.html">
    <link rel="import" href="/assets/km-steps-progress.html">
    <link rel="import" href="/assets/km-checkout-shipinfo.html">
    <link rel="import" href="/assets/km-checkout-payinfo.html">
    <link rel="import" href="/assets/km-checkout-confirm.html">
    <link rel="import" href="/bower_components/paper-button/paper-button.html">

    <script src="https://www.paypalobjects.com/api/checkout.js" data-version-4></script>
</head>
<body>

{{template "page-header" .}}

<div class="km-body">
    <div class="km-body-content">
        <!-- PAGE NAVIGATION -->
        {{template "page-nav"}}

        <h3 class="km-page-title">
            {{.CurrentStep.Label}}
        </h3>

        <div class="checkout-section">
            <km-ajax id="ajax"></km-ajax>
            <div>
                <km-steps-progress id="progress"></km-steps-progress>
            </div>
            <div class="">
                {{if .CurrentStep.HasName "shipinfo"}}
                <km-checkout-shipinfo id="step-form"></km-checkout-shipinfo>
                {{else if .CurrentStep.HasName "payinfo"}}
                <km-checkout-payinfo id="step-form"></km-checkout-payinfo>
                {{else if .CurrentStep.HasName "confirm"}}
                <km-checkout-confirm id="step-form"></km-checkout-confirm>
                {{end}}
            </div>
            <div>
                <paper-button id="next-button" class="km-button hidden">Next</paper-button>
            </div>
        </div>

        {{template "page-footer"}}

    </div>
</div>

<script>
    (function(){
        var nextStep = {{.NextStep.Name}};
        var stepForm = $('#step-form')[0];
        stepForm.order = {{.Order}};

        var ajax = $('#ajax')[0];

        $('#progress')[0].steps = {{.CheckoutSteps}};

        console.log("Registering for completed event");
        stepForm.addEventListener("completed", function(){
            console.log("Form Is Ready!");
            $('#next-button').removeClass("hidden");
        });

        if(stepForm.completed){
            $('#next-button').removeClass("hidden");
        }

        $('#next-button').click(function(){
            stepForm.performAction();
        });
    })()
</script>

</body>
</html>
{{end}}