{{define "product-page"}}
<html lang="en">
<head>
    {{template "page-standard-meta-tags"}}
    <title>{{.Title}}</title>
    {{template "page-imports"}}

    <link rel="stylesheet" href="/assets/stylesheets/product.css">
    <link rel="import" href="/bower_components/paper-button/paper-button.html">

    <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Product",
      "url": "http://www.mandalacrame.com/product/{{.Product.Id}}",
      "name": "{{.Product.Name}}",
      "description": "{{.Product.Description}}",
      "image": "{{.Product.Thumbnail}}"
    }
    </script>

    <meta property="og:url"                content="{{.CanonicalUrl}}" />
    <meta property="og:type"               content="product" />
    <meta property="og:title"              content="{{.Product.Name}}" />
    <meta property="og:description"        content="{{.Product.Description}}" />
    <meta property="og:image"              content="{{.Product.Thumbnail}}" />
</head>
<body>

{{template "page-header" .}}

<div class="km-body">
    <div class="km-body-content">
        <!-- PAGE NAVIGATION -->
        {{template "page-nav"}}

        <div class="row">
            <div class="product-image col-md-6">
                <img class="img" src="{{.Product.Thumbnail}}">
            </div>
            <div class="product-details col-md-6">
                <h3 class="name">{{.Product.Name}}</h3>
                <p class="description">{{.Product.Description}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
            </div>
            <div class="col-md-6">
                <div class="action-buttons">
                {{if .Product.OutOfStock }}
                    <span style="color: red;">Out of Stock</span>
                {{else}}
                    <paper-button class="button" onclick="addToCart({{.Product}})">Add to Cart</paper-button>
                    <paper-button class="button" onclick="buyProduct({{.Product}})">Buy</paper-button>
                {{end}}
                </div>
            </div>

        </div>

        <div class="row more-photos-section">
            <div class="col-md-12">
                <h5 class="more-photos-title">More Photos</h5>
                <div class="more-photos">
                    <div class="more-photos-scroll">
                        {{range $index, $element := .Product.Pictures}}
                        <a href="" class="more-photos-image" data-index="{{$index}}" onclick="selectProductImage(event, {{$index}})" style="background-image: url({{$element}})"></a>
                        {{end}}
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12">
            {{template "page-footer"}}
        </div>

    </div>
</div>

<script>
    var productPictures = {{.Product.Pictures}};
    function buyProduct(product) {
        addToCart(product);
        window.location = "/cart";
    }

    function addToCart(product) {
        var shoppingCartItems = localStorage.getItem('shoppingCartItems');
        var cartItems = [];
        if(shoppingCartItems!==null){
            cartItems = JSON.parse(shoppingCartItems);
        }
        cartItems.push(product);
        localStorage.setItem('shoppingCartItems', JSON.stringify(cartItems));

        var event = new CustomEvent("shoppingCartChanged", {});
        document.dispatchEvent(event);
    }

    function selectProductImage(e, index){
        e.preventDefault();
        console.log("Selecting product image:", index, productPictures[index]);
        $('.product-image > .img').attr("src", productPictures[index]);
    }
</script>

</body>
</html>
{{end}}