<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />

    <title>Kodimerce - Login</title>

    <script src="/bower_components/webcomponentsjs/webcomponents.js"></script>

    <link rel="import" href="/assets/km-login.html?v=1">

    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">

</head>
<body class="fullbleed layout vertical">
    <div class="row">
        <div class="col-md-offset-5 col-md-2">
            <login-component></login-component>
        </div>
    </div>

    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>