<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />

    <title>{{.Server.CompanyName}} - Login</title>

    <script>

        // setup Polymer options
        window.Polymer = {lazyRegister: true, dom: 'shadow'};

        // load webcomponents polyfills
        (function() {
            if ('registerElement' in document
                    && 'import' in document.createElement('link')
                    && 'content' in document.createElement('template')) {
                // browser has web components
            } else {
                // polyfill web components
                var e = document.createElement('script');
                e.src = '/bower_components/webcomponentsjs/webcomponents-lite.min.js';
                document.head.appendChild(e);
            }
        })();

    </script>

    <link rel="import" href="/assets/km-login.html?v=1">

    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">

</head>
<body class="fullbleed layout vertical">
    <div class="row" style="margin-top: 100px;">
        <div class="col-md-offset-5 col-md-2">
            <login-component></login-component>
        </div>
    </div>

    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>