#home-carousel{
    margin-top: 40px;
}

#home-carousel .carousel-inner img {
    width: 100%;
    max-height: 600px;
}

#home-carousel .carousel-control {
    background-image: none;
}

.km-categories-container{
    margin-top: 40px;
}

.km-home-category-button {
    height: 300px;
    width: 100%;
    margin-bottom: 40px;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (min-device-width: 768px) {
    .km-home-category-button {
        height: 300px;
        width: calc(50% - 20px);
    }

    #home-carousel{
        margin-top: 0;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) and (min-device-width: 992px) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (min-device-width: 1200px) {

}