html, body {
    min-width: 100%;
    min-height: 100%;
    background: rgb(250, 250, 250);
}

.km-header {
    height: 140px;
    background: rgb(255, 255, 255);
    text-align: center;
}

.km-header-content {
    display: inline-block;
    margin-top: 40px;
    width: 100%;
}
.navbar-toggle {
    position: absolute;
    top: 15px;
    left: 40px;
    float: none;
}
.navbar-toggle .icon-bar {
    width: 60px;
    height: 12px;
    background: rgb(40, 40, 40);
}

.km-body {
    text-align: center;
    width: 100%;
}

.km-body-content {
    display: inline-block;
    width: 100%;
    text-align: left;
    min-height: 400px;
    background: rgb(255, 255, 255);
    box-shadow: 0 0 5px rgb(200, 200, 200);
    -moz-box-shadow: 0 0 5px rgb(200, 200, 200);
    -webkit-box-shadow: 0 0 5px rgb(200, 200, 200);
    padding-left: 40px;
    padding-right: 40px;
    margin-top: -40px;
}

.km-nav {
    display: none;
}

.km-nav.expanded {
    display: block;
    position: absolute;
    z-index: 1;
    background: white;
    margin-right: 40px;
    width: calc(100% - 40px);
    opacity: .8;
}

.km-nav-menu {
    font-size: 20px;
    text-align: center;
    padding-top: 25px;
}

.km-nav-item {
    display: block;
    margin: 20px;
    color: black;
    font-size: 50px;
}

.km-nav-item:hover, .km-nav-item:visited, .km-nav-item:active, .km-nav-item:focus {
    text-decoration: none;
    color: black;
}

.page-footer {
    margin-bottom: 40px;
    text-align: center;
}

.page-divisor{
    margin-top: 40px;
    margin-bottom: 40px;
    border-top: 1px solid rgb(237,237,237);
}
.page-divisor-single {
    margin-bottom: 40px;
    border-top: 0;
}

/** IMAGE BUTTON CSS **/
.km-image-button {
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.km-image-button > .km-image-button-overlay {
    position: relative;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: all 0.8s ease;
}

.km-image-button > .km-image-button-overlay:after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.0;
    background-color: #000;
    -webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    -ms-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
    transition: all 0.8s ease;
}
.km-image-button > .km-image-button-overlay:hover:after {
    opacity: 0.25;
}

.km-image-button > .km-image-button-overlay:hover{
    transform: scale(1.03);
}

.km-image-button > .km-image-button-label {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    pointer-events: none;
    display: table;
    table-layout: fixed;
    color: #fff;
    cursor: pointer;
}

.km-image-button > .km-image-button-label > * {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    margin: 0 auto;
    font-size: 2.125em;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .navbar-toggle{
        display: block;
    }

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .navbar-toggle{
        display: none;
    }

    .nav-after-divisor{
        display: none;
    }

    .km-nav {
        height: 80px;
        display: block !important;
        position: relative !important;
        z-index: 1;
        background: none;
        margin-right: 0;
        width: 100%;
        opacity: 1;
    }
    .km-header {
        width: 100%;
    }

    .km-nav-item {
        display: inline;
        font-size: 20px;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .km-body {

    }
    .km-body-content {
        width: 1280px;
    }
}