html, body {
    min-width: 100%;
    min-height: 100%;
    background: rgb(250, 250, 250);
}

.km-header {
    width: 100%;
    height: 140px;
    text-align: center;
    background: rgb(255, 255, 255);
}

.km-header-content {
    display: inline-block;
    margin-top: 40px;
}

.km-body {
    width: 100%;
    text-align: center;
}

.km-body-content {
    display: inline-block;
    text-align: left;
    width: 1280px;
    min-height: 400px;
    background: rgb(255, 255, 255);
    box-shadow: 0 0 5px rgb(200, 200, 200);
    -moz-box-shadow: 0 0 5px rgb(200, 200, 200);
    -webkit-box-shadow: 0 0 5px rgb(200, 200, 200);
    padding-left: 40px;
    padding-right: 40px;
    margin-top: -40px;
}

.km-nav {
    height: 80px;
}

.km-nav-menu {
    font-size: 20px;
    text-align: center;
    padding-top: 25px;
}

.km-nav-item {
    margin: 30px;
    color: black;
}

.km-nav-item:hover, .km-nav-item:visited, .km-nav-item:active, .km-nav-item:focus {
    text-decoration: none;
    color: black;
}

.page-footer {
    margin-bottom: 40px;
    text-align: center;
}

.page-divisor{
    margin-top: 40px;
    margin-bottom: 40px;
    border-top: 1px solid rgb(237,237,237);
}

/** IMAGE BUTTON CSS **/
.km-image-button {
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.km-image-button > .km-image-button-overlay {
    position: relative;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: all 0.8s ease;
}

.km-image-button > .km-image-button-overlay:after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.25;
    background-color: #000;
    -webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    -ms-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
    transition: all 0.8s ease;
}
.km-image-button > .km-image-button-overlay:hover:after {
    opacity: 0.5;
}

.km-image-button > .km-image-button-overlay:hover{
    transform: scale(1.03);
}

.km-image-button > .km-image-button-label {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    pointer-events: none;
    display: table;
    table-layout: fixed;
    color: #fff;
    cursor: pointer;
}

.km-image-button > .km-image-button-label > span {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    margin: 0 auto;
    font-size: 2.125em;
}