<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{.Server.CompanyName}} - Admin</title>
    <script>

        // setup Polymer options
        window.Polymer = {lazyRegister: true, dom: 'shadow'};

        // load webcomponents polyfills
        (function() {
            if ('registerElement' in document
                    && 'import' in document.createElement('link')
                    && 'content' in document.createElement('template')) {
                // browser has web components
            } else {
                // polyfill web components
                var e = document.createElement('script');
                e.src = '/bower_components/webcomponentsjs/webcomponents-lite.min.js';
                document.head.appendChild(e);
            }
        })();

        var km_service = {
            company: {
                name: {{.Server.CompanyName}},
                address: {{.Server.CompanyAddress}},
                email: {{.Server.CompanyEmail}},
                phone: {{.Server.CompanyPhone}},
            }
        };
    </script>
    <link rel="import" href="/assets/admin-app/admin-app.html">

    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">

    <style is="custom-style">
        body {
            margin: 0;
            font-family: 'Roboto', 'Noto', sans-serif;
            background-color: #eee;
        }
    </style>
</head>
<body>
    <admin-app></admin-app>

    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>