{{define "home-body"}}
<div class="km-body">
    <div class="km-body-content">
        <!-- PAGE NAVIGATION -->
        <div>
            {{template "page-nav"}}
        </div>

        <!-- PAGE CAROUSEL -->
        <div id="home-carousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#home-carousel" data-slide-to="0" class="active"></li>
                <!--<li data-target="#home-carousel" data-slide-to="1"></li>-->
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img src="/assets/images/slide.png">
                </div>

                <!--<div class="item">-->
                    <!--<img src="/assets/images/img_chania2.jpg" alt="Chania">-->
                <!--</div>-->
            </div>
        </div>

        <!-- PAGE CATEGORIES -->
        <div class="km-categories-container">
            <a href="/store/pendants" class="km-image-button km-home-category-button">
                <div class="km-image-button-overlay" style="background-image: url(/assets/images/pendants_image.png)"></div>
                <div class="km-image-button-label">
                    <span>Pendents</span>
                </div>
            </a>

            <a href="/store/bracelets" class="km-image-button km-home-category-button pull-right">
                <div class="km-image-button-overlay" style="background-image: url(/assets/images/bracelets_image.png)"></div>
                <div class="km-image-button-label">
                    <span>Bracelets</span>
                </div>
            </a>
        </div>

        {{template "page-footer"}}
    </div>
</div>
{{end}}