{{define "product-body"}}
<div class="km-body">
    <div class="km-body-content">
        <!-- PAGE NAVIGATION -->
        {{template "page-nav"}}

        <div class="row">
            <div class="product-image col-md-6">
                <img class="img" src="{{.Product.Thumbnail}}">
            </div>
            <div class="product-details col-md-6">
                <h3>{{.Product.Name}}</h3>
                <p class="description">{{.Product.Description}}</p>
                <button onclick="addToCart({{.Product}})">Add to cart</button>
            </div>
        </div>

        <div class="row more-photos-section">
            <div class="col-md-12">
                <h5>More Photos</h5>
                <div class="more-photos">
                    <div class="more-photos-scroll">
                        {{range $index, $element := .Product.Pictures}}
                        <a href="" class="more-photos-image" data-index="{{$index}}" onclick="selectProductImage(event, {{$index}})" style="background-image: url({{$element}})"></a>
                        {{end}}
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12">
            {{template "page-footer"}}
        </div>

    </div>
</div>
<script>
    var productPictures = {{.Product.Pictures}};
    function addToCart(product) {
        var shoppingCartItems = localStorage.getItem('shoppingCartItems');
        var cartItems = [];
        if(shoppingCartItems!==null){
            cartItems = JSON.parse(shoppingCartItems);
        }
        cartItems.push(product);
        localStorage.setItem('shoppingCartItems', JSON.stringify(cartItems));
    }

    function selectProductImage(e, index){
        e.preventDefault();
        console.log("Selecting product image:", index, productPictures[index]);
        $('.product-image > .img').attr("src", productPictures[index]);
    }
</script>

<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

{{end}}