{{define "product-page"}}
<html lang="en">
<head>
    {{template "page-standard-meta-tags"}}
    <title>{{.Title}}</title>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/stylesheets/style.css">
    <link rel="stylesheet" href="/assets/stylesheets/product.css">
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>

    <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Product",
      "url": "http://www.mandalacrame.com/product?{{.Product.Id}}",
      "name": "{{.Product.Name}}",
      "description": "{{.Product.Description}}",
      "image": "{{.Product.Thumbnail}}"
    }
    </script>
</head>
<body>

{{template "page-header" .}}
{{template "product-body" .}}

<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
{{end}}