{{define "product-body"}}
<div class="km-body">
    <div class="km-body-content">
        <!-- PAGE NAVIGATION -->
        {{template "page-nav"}}

        <div class="row">
            <div class="product-image col-md-6">
                <img src="{{.Product.Thumbnail}}">
            </div>
            <div class="product-details col-md-6">
                <h3>{{.Product.Name}}</h3>
                <p>{{.Product.Description}}</p>
            </div>
        </div>

        <!--<div class="row">-->
            <!--<div class="col-md-12">-->
                <!--<h5>More Photos</h5>-->
            <!--</div>-->
        <!--</div>-->

        <div class="col-xs-12">
            {{template "page-footer"}}
        </div>

    </div>
</div>
{{end}}