{{define "product-page"}}
<html lang="en">
<head>
    {{template "page-standard-meta-tags"}}
    <title>{{.Title}}</title>
    {{template "page-imports"}}

    <link rel="stylesheet" href="/assets/stylesheets/product.css">

    <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Product",
      "url": "http://www.mandalacrame.com/product/{{.Product.Id}}",
      "name": "{{.Product.Name}}",
      "description": "{{.Product.Description}}",
      "image": "{{.Product.Thumbnail}}"
    }
    </script>

    <meta property="og:url"                content="{{.CanonicalUrl}}" />
    <meta property="og:type"               content="product" />
    <meta property="og:title"              content="{{.Product.Name}}" />
    <meta property="og:description"        content="{{.Product.Description}}" />
    <meta property="og:image"              content="{{.Product.Thumbnail}}" />
</head>
<body>

{{template "page-header" .}}
{{template "product-body" .}}

</body>
</html>
{{end}}