{{define "store-page"}}
<html lang="en">
<head>
    {{template "page-standard-meta-tags"}}
    <title>{{.Title}}</title>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/stylesheets/style.css">
    <link rel="stylesheet" href="/assets/stylesheets/store.css">

    {{range $index, $element := .Products}}
    <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Product",
      "url": "http://www.mandalacrame.com/product?{{$element.Id}}",
      "name": "{{$element.Name}}",
      "description": "{{$element.Description}}",
      "image": "{{$element.Thumbnail}}"
    }
    </script>
    {{end}}
</head>
<body>

{{template "page-header" .}}
{{template "store-body" .}}

<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
{{end}}